In [12]:
import pandas as pd

In [13]:
csv_url = 'https://repl.it/@AkhilWase/fcc-demographic-data-analyzer#adult.data.csv'
df = pd.read_csv('adult.data.csv',delimiter=',')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    32561 non-null object
salary            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [15]:
# How many of each race are represented in this dataset? This should be a Pandas 
# series with race names as the index labels.

df['race'].count()

32561

In [31]:
# What is the average age of men?

a = df['race'].value_counts()

In [21]:
a.tolist()

[27816, 3124, 1039, 311, 271]

In [32]:
# What is the average age of men?

a = df[df['sex']=='Male']

In [36]:
a['age'].mean()
"{0:0.1f}".format(a['age'].mean())

'39.4'

In [38]:
# What is the percentage of people who have a Bachelor's degree?

df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [40]:
df['education'].value_counts('Bachelors')

HS-grad         0.322502
Some-college    0.223918
Bachelors       0.164461
Masters         0.052916
Assoc-voc       0.042443
11th            0.036086
Assoc-acdm      0.032769
10th            0.028654
7th-8th         0.019840
Prof-school     0.017690
9th             0.015786
12th            0.013298
Doctorate       0.012684
5th-6th         0.010227
1st-4th         0.005160
Preschool       0.001566
Name: education, dtype: float64

In [48]:
a = df[df['education']=='Bachelors']
(len(a['education'])/len(df['education']))*100

16.44605509658794

In [50]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [51]:
# percentage with salary >50K
higher_education_rich = None
lower_education_rich = None
# `Bachelors`, `Masters`, or `Doctorate`

In [81]:
a = 100*len(df.loc[(df['salary']=='>50K')&((df['education']=='Bachelors')|(df['education']=='Masters')|(df['education']=='Doctorate'))])/len(df.loc[df['salary']=='>50K'])
a

44.45861497258003

In [76]:
df['education'].value_counts()

HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64

In [80]:
a = 100*len(df.loc[(df['salary']=='>50K')&((df['education']!='Bachelors')&(df['education']!='Masters')&(df['education']!='Doctorate')),'salary'])/len(df.loc[df['salary']=='>50K','salary'])
a

55.54138502741997

In [86]:
df1 = df[df['salary'] == '>50K']
len(df1)

7841

In [97]:
x = len(df[(df['education']=='Masters')&(df['salary']=='>50K')])
y= len(df[(df['education']=='Doctorate')&(df['salary']=='>50K')])
z = len(df[(df['education']=='Bachelors')&(df['salary']=='>50K')])

In [99]:
(x+y+z)/len(df['salary']=='>50K')

0.10706059396210191

In [100]:
a = 100*len(df.loc[(df['salary']=='>50K')&((df['education']!='Bachelors')&(df['education']!='Masters')&(df['education']!='Doctorate')),'salary'])/len(df.loc[df['salary']=='>50K','salary'])
a

55.54138502741997

In [132]:
df['Advanced']= ["Yes" if x in ['Bachelors','Masters','Doctorate'] else 'No' for x in df['education']]
df['Advanced'].count()

32561

In [105]:
advanced_df = df[df['advanced']=='Yes']
advanced_df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,advanced
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,Yes
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,Yes
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,Yes
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,Yes
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K,Yes

In [107]:
advanced_percentage = pd.Index(advanced_df['salary']).value_counts(normalize=True)*100
advanced_percentage

<=50K    53.464157
>50K     46.535843
Name: salary, dtype: float64

In [108]:
advanced_percentage_greater50 = round(advanced_percentage.loc['>50K'],1)

In [109]:
advanced_percentage_greater50

46.5

In [114]:
# df['Advanced'] = df.loc[(df['education']=='Bachelors')|(df['education']=='Masters')|(df['education']=='Doctorate')]

In [137]:
df['advanced']= ["true" if x in ['Bachelors','Masters','Doctorate'] else 'false' for x in df['education']]

In [138]:
ad_df = df[df['advanced']=='true']

In [139]:
ad = pd.Index(ad_df['salary']).value_counts(normalize=True)*100
ad

<=50K    53.464157
>50K     46.535843
Name: salary, dtype: float64

In [140]:
print(round(ad.loc['>50K'],1))

46.5

In [141]:
nad_df = df[df['advanced']=='false']

In [144]:
nad = pd.Index(nad_df['salary']).value_counts(normalize=True)*100
nad = pd.Index(nad_df['salary']).value_counts(normalize=True)*100

In [146]:
# print(round(ad.loc['>50K'],1))

no_advanced_df = df[df['Advanced']=='No']

no_advanced_percentage = pd.Index(no_advanced_df['salary']).value_counts(normalize=True)*100
print(no_advanced_percentage)

no_advanced_percentage_greater50 = round(no_advanced_percentage.loc['>50K'],1)

<=50K    82.62864
>50K     17.37136
Name: salary, dtype: float64

In [134]:
no_advanced_percentage_greater50

17.4

In [148]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 17 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    32561 non-null object
salary            32561 non-null object
advanced          32561 non-null object
Advanced          32561 non-null object
dtypes: int64(6), object(11)
memory usage: 4.2+ MB

In [150]:
df['hours-per-week'].min()

1

In [169]:
# # What percentage of the people who work the minimum number of hours per week have a salary of >50K?

a = df[(df['hours-per-week'] == df['hours-per-week'].min())&(df['salary']=='>50K')]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,advanced,Advanced
189,58,State-gov,109567,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,1,United-States,>50K,true,Yes
1036,66,Self-emp-inc,150726,9th,5,Married-civ-spouse,Exec-managerial,Husband,White,Male,1409,0,1,?,<=50K,false,No
1262,69,?,195779,Assoc-voc,11,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K,false,No
5590,78,?,363134,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K,false,No
5632,45,?,189564,Masters,14,Married-civ-spouse,?,Wife,White,Female,0,0,1,United-States,<=50K,true,Yes
5766,62,?,97231,Some-college,10,Married-civ-spouse,?,Wife,White,Female,0,0,1,United-States,<=50K,false,No
5808,76,?,211574,10th,6,Married-civ-spouse,?,Husband,White,Male,0,0,1,United-States,<=50K,false,No
8447,67,?,244122,Assoc-voc,11,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K,false,No
9147,75,?,260543,10th,6,Widowed,?,Other-relative,Asian-Pac-Islander,Female,0,0,1,China,<=50K,false,No
11451,27,Private,147951,HS-grad,9,Never-married,Machine-op-inspct,Other-relative,White,Male,0,0,1,United-States,<=50K,false,No
19337,72,?,76860,HS-grad,9,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,1,United-States,<=50K,false,No
19750,23,Private,72887,HS-grad,9,Never-married,Craft-repair,Own-child,Asian-Pac-Islander,Male,0,0,1,Vietnam,<=50K,false,No
20072,65,?,76043,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,1,United-States,>50K,false,No
20909,77,Self-emp-not-inc,71676,Some-college,10,Widowed,Adm-clerical,Not-in-family,White,Female,0,1944,1,United-States,<=50K,false,No
22960,21,Private,184135,HS-grad,9,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,1,United-States,<=50K,false,No
23536,69,?,320280,Some-college,10,Never-married,?,Not-in-family,White,Male,1848,0,1,United-States,<=50K,false,No
24284,57,Self-emp-not-inc,56480,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,1,United-States,<=50K,false,No
25078,74,Private,260669,10th,6,Divorced,Other-service,Not-in-family,White,Female,0,0,1,United-States,<=50K,false,No
29752,69,?,117525,Assoc-acdm,12,Divorced,?,Unmarried,White,Female,0,0,1,United-States,<=50K,false,No
32525,81,?,120478,Assoc-voc,11,Divorced,?,Unmarried,White,Female,0,0,1,?,<=50K,false,No

In [167]:
a = df[df['salary']=='>50K']
a

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,advanced,Advanced
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K,false,No
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K,true,Yes
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K,true,Yes
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K,false,No
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K,true,Yes
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K,false,No
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K,true,Yes
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K,true,Yes
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K,true,Yes
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K,false,No
38,31,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,?,>50K,false,No
45,57,Federal-gov,337895,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,40,United-States,>50K,true,Yes
52,47,Private,51835,Prof-school,15,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,1902,60,Honduras,>50K,false,No
53,50,Federal-gov,251585,Bachelors,13,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,55,United-States,>50K,true,Yes
55,43,Private,237993,Some-college,10,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K,false,No
63,42,Private,116632,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,United-States,>50K,true,Yes
67,53,Private,169846,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,40,United-States,>50K,false,No
68,49,Self-emp-inc,191681,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K,false,No
72,29,Self-emp-not-inc,162298,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,70,United-States,>50K,true,Yes
84,44,Private,343591,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Female,14344,0,40,United-States,>50K,false,No
86,49,Local-gov,268234,HS-grad,9,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K,false,No
89,43,Federal-gov,410867,Doctorate,16,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,50,United-States,>50K,true,Yes
94,34,Local-gov,226296,Bachelors,13,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K,true,Yes
96,48,Self-emp-not-inc,191277,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,60,United-States,>50K,true,Yes
97,37,Private,202683,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,48,United-States,>50K,false,No
100,76,Private,124191,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K,true,Yes
101,44,Private,198282,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,60,United-States,>50K,true,Yes
105,32,Self-emp-inc,317660,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7688,0,40,United-States,>50K,false,No
111,38,Private,65324,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K,false,No
112,56,Self-emp-not-inc,335605,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,1887,50,Canada,>50K,false,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32436,37,Private,40955,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K,false,No
32438,66,Self-emp-not-inc,102686,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,20,United-States,>50K,true,Yes
32440,30,Self-emp-not-inc,176185,Some-college,10,Married-spouse-absent,Craft-repair,Own-child,White,Male,0,0,60,United-States,>50K,false,No
32441,53,Private,304504,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,1887,45,United-States,>50K,false,No
32449,44,Self-emp-inc,71556,Masters,14,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,?,>50K,true,Yes
32453,46,Private,42251,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,>50K,false,No
32455,36,Self-emp-not-inc,109133,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,>50K,true,Yes
32457,33,Private,139057,Masters,14,Married-civ-spouse,Tech-support,Husband,Asian-Pac-Islander,Male,0,0,50,United-States,>50K,true,Yes
32458,36,Private,237943,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1977,45,United-States,>50K,true,Yes
32462,48,Self-emp-inc,185041,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,50,United-States,>50K,false,No
32464,45,Self-emp-inc,173664,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K,true,Yes
32466,37,Private,121521,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,45,United-States,>50K,false,No
32474,36,Private,186819,Assoc-acdm,12,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,52,United-States,>50K,false,No
32480,41,Private,201495,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K,true,Yes
32504,50,Private,208630,Masters,14,Divorced,Sales,Not-in-family,White,Female,0,0,50,United-States,>50K,true,Yes
32506,38,Private,32916,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,55,United-States,>50K,false,No
32510,39,Private,107302,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,?,>50K,false,No
32513,46,Private,42972,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,22,United-States,>50K,true,Yes
32518,57,Local-gov,110417,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,99999,0,40,United-States,>50K,false,No
32519,46,Private,364548,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,48,United-States,>50K,false,No
32530,35,?,320084,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K,true,Yes
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K,true,Yes
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K,true,Yes
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K,true,Yes
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K,true,Yes
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K,true,Yes
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K,false,No
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K,true,Yes
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,false,No
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,false,No

In [166]:
a

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,advanced,Advanced
189,58,State-gov,109567,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,1,United-States,>50K,true,Yes
20072,65,?,76043,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,1,United-States,>50K,false,No

In [170]:
a = len(df[(df['hours-per-week'] == df['hours-per-week'].min())&(df['salary']=='>50K')])/len(df[df['hours-per-week'] == df['hours-per-week'].min()])

In [172]:
round(a*100,1)

10.0

In [175]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 17 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    32561 non-null object
salary            32561 non-null object
advanced          32561 non-null object
Advanced          32561 non-null object
dtypes: int64(6), object(11)
memory usage: 4.2+ MB

In [177]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,advanced,Advanced
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,true,Yes
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,true,Yes
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,false,No
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,false,No
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,true,Yes

In [191]:
a = df.loc[df['salary']== '>50K']
a['native-country'].value_counts()

United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Italy                   25
Cuba                    25
Japan                   24
China                   20
Taiwan                  20
Iran                    18
South                   16
France                  12
Poland                  12
Puerto-Rico             12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Hong                     6
Yugoslavia               6
Vietnam                  5
Ireland                  5
Portugal                 4
Ecuador                  4
Haiti                    4
Scotland                 3
Guatemala                3
Thailand                 3
Hungary                  3
Laos                     2
Trinadad&Tobago          2
Nicaragua                2
Columbia                 2
Dominican-Republic       2
Peru                     2
Honduras                 1
Name: native-country, dtype: int64

In [184]:
# a = a['native-country'].value_counts(normalize=True)*100

In [192]:






country4 = country3[country3['salary']=='>50K'].sort_values(by=['percentage'], ascending = False)
highest_earning_country = (country4[0:1]['native-country']).values[0]
highest_earning_country_percentage = round((country4[0:1]['percentage']).values[0],1)

In [198]:
country2 = df.groupby('native-country')
country2.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,advanced,Advanced
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,true,Yes
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,true,Yes
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,false,No
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,false,No
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,true,Yes
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,true,Yes
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K,false,No
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K,true,Yes
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K,false,No
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K,false,No
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K,false,No
35,48,Private,242406,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,Puerto-Rico,<=50K,false,No
38,31,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,?,>50K,false,No
51,18,Private,226956,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,30,?,<=50K,false,No
52,47,Private,51835,Prof-school,15,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,1902,60,Honduras,>50K,false,No
56,46,Private,216666,5th-6th,3,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K,false,No
57,35,Private,56352,Assoc-voc,11,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,Puerto-Rico,<=50K,false,No
61,32,?,293936,7th-8th,4,Married-spouse-absent,?,Not-in-family,White,Male,0,0,40,?,<=50K,false,No
75,27,Private,213921,HS-grad,9,Never-married,Other-service,Own-child,White,Male,0,0,40,Mexico,<=50K,false,No
81,52,Private,276515,Bachelors,13,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,Cuba,<=50K,true,Yes
93,30,Private,117747,HS-grad,9,Married-civ-spouse,Sales,Wife,Asian-Pac-Islander,Female,0,1573,35,?,<=50K,false,No
98,48,Private,171095,Assoc-acdm,12,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,England,<=50K,false,No
112,56,Self-emp-not-inc,335605,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,1887,50,Canada,>50K,false,No
122,30,Private,77143,Bachelors,13,Never-married,Exec-managerial,Own-child,Black,Male,0,0,40,Germany,<=50K,true,Yes
135,38,Federal-gov,125933,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,Iran,>50K,true,Yes
142,19,Private,316868,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,30,Mexico,<=50K,false,No
150,47,Local-gov,186009,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,38,Mexico,<=50K,false,No
152,33,Private,163003,Bachelors,13,Never-married,Exec-managerial,Other-relative,Asian-Pac-Islander,Female,0,0,40,Philippines,<=50K,true,Yes
163,28,Private,88419,HS-grad,9,Never-married,Exec-managerial,Not-in-family,Asian-Pac-Islander,Female,0,0,40,England,<=50K,false,No
201,19,?,170653,HS-grad,9,Never-married,?,Own-child,White,Male,0,0,40,Italy,<=50K,false,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6794,20,Private,339588,HS-grad,9,Married-civ-spouse,Other-service,Wife,White,Female,0,0,40,Peru,<=50K,false,No
6795,22,Private,206815,HS-grad,9,Never-married,Sales,Unmarried,White,Female,0,0,40,Peru,<=50K,false,No
6853,36,Private,228157,Some-college,10,Never-married,Craft-repair,Not-in-family,Asian-Pac-Islander,Male,0,0,40,Laos,<=50K,false,No
6952,46,Self-emp-inc,283004,Assoc-voc,11,Divorced,Exec-managerial,Unmarried,Asian-Pac-Islander,Female,0,0,63,Thailand,<=50K,false,No
6958,47,Private,243904,HS-grad,9,Divorced,Adm-clerical,Unmarried,White,Male,0,0,40,Honduras,<=50K,false,No
7025,21,Private,255685,Some-college,10,Never-married,Other-service,Own-child,Black,Male,0,0,40,Outlying-US(Guam-USVI-etc),<=50K,false,No
7081,46,Private,169042,10th,6,Never-married,Other-service,Not-in-family,White,Female,0,0,25,Ecuador,<=50K,false,No
7234,58,State-gov,136982,HS-grad,9,Married-spouse-absent,Other-service,Unmarried,Black,Female,0,0,40,Honduras,<=50K,false,No
7287,35,Private,164526,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,Yugoslavia,>50K,false,No
7606,43,Self-emp-not-inc,154785,Bachelors,13,Married-civ-spouse,Machine-op-inspct,Wife,Asian-Pac-Islander,Female,0,0,80,Thailand,<=50K,true,Yes
7663,17,?,659273,11th,7,Never-married,?,Own-child,Black,Female,0,0,40,Trinadad&Tobago,<=50K,false,No
7982,55,Private,175942,HS-grad,9,Divorced,Priv-house-serv,Not-in-family,White,Female,0,0,40,France,<=50K,false,No
8055,30,Private,205659,Assoc-acdm,12,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,50,Thailand,>50K,false,No
8165,42,Private,185057,HS-grad,9,Separated,Adm-clerical,Unmarried,White,Female,0,0,35,Scotland,<=50K,false,No
8562,49,Private,122066,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,30,Hungary,<=50K,false,No
9743,33,Self-emp-not-inc,193246,HS-grad,9,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,55,France,<=50K,false,No
10188,28,Local-gov,336543,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,Asian-Pac-Islander,Male,0,0,40,Hong,>50K,false,No
11946,60,Private,166386,11th,7,Married-civ-spouse,Machine-op-inspct,Wife,Asian-Pac-Islander,Female,0,0,30,Hong,<=50K,false,No
12096,49,Private,169180,7th-8th,4,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,0,0,40,Hong,<=50K,false,No
12506,40,Local-gov,183096,9th,5,Married-civ-spouse,Other-service,Wife,White,Female,0,0,40,Yugoslavia,>50K,false,No
12529,65,Private,172510,Some-college,10,Widowed,Prof-specialty,Not-in-family,White,Female,1848,0,20,Hungary,<=50K,false,No
13928,81,Self-emp-not-inc,123959,Bachelors,13,Widowed,Prof-specialty,Not-in-family,White,Female,0,1668,3,Hungary,<=50K,true,Yes
14214,32,Private,167106,HS-grad,9,Married-civ-spouse,Sales,Husband,Asian-Pac-Islander,Male,0,0,40,Hong,<=50K,false,No
14680,26,Self-emp-not-inc,200681,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,Outlying-US(Guam-USVI-etc),<=50K,false,No
15039,29,Private,89813,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,0,0,40,Scotland,<=50K,false,No
15259,60,Private,114263,Bachelors,13,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,40,Hungary,>50K,true,Yes
15310,19,?,109938,11th,7,Married-civ-spouse,?,Wife,Asian-Pac-Islander,Female,0,0,40,Laos,<=50K,false,No
17144,28,Self-emp-not-inc,183523,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,Hungary,<=50K,false,No
17176,40,Private,182217,Some-college,10,Married-civ-spouse,Other-service,Wife,White,Female,0,0,40,Scotland,<=50K,false,No
19609,32,Private,27882,Some-college,10,Never-married,Machine-op-inspct,Other-relative,White,Female,0,2205,40,Holand-Netherlands,<=50K,false,No

In [199]:
value_after_group = country2['salary'].value_counts(normalize=True)*100
value_after_group

native-country              salary
?                           <=50K      74.957118
                            >50K       25.042882
Cambodia                    <=50K      63.157895
                            >50K       36.842105
Canada                      <=50K      67.768595
                            >50K       32.231405
China                       <=50K      73.333333
                            >50K       26.666667
Columbia                    <=50K      96.610169
                            >50K        3.389831
Cuba                        <=50K      73.684211
                            >50K       26.315789
Dominican-Republic          <=50K      97.142857
                            >50K        2.857143
Ecuador                     <=50K      85.714286
                            >50K       14.285714
El-Salvador                 <=50K      91.509434
                            >50K        8.490566
England                     <=50K      66.666667
                            >50K       33.333333
France                      <=50K      58.620690
                            >50K       41.379310
Germany                     <=50K      67.883212
                            >50K       32.116788
Greece                      <=50K      72.413793
                            >50K       27.586207
Guatemala                   <=50K      95.312500
                            >50K        4.687500
Haiti                       <=50K      90.909091
                            >50K        9.090909
                                         ...
Mexico                      >50K        5.132193
Nicaragua                   <=50K      94.117647
                            >50K        5.882353
Outlying-US(Guam-USVI-etc)  <=50K     100.000000
Peru                        <=50K      93.548387
                            >50K        6.451613
Philippines                 <=50K      69.191919
                            >50K       30.808081
Poland                      <=50K      80.000000
                            >50K       20.000000
Portugal                    <=50K      89.189189
                            >50K       10.810811
Puerto-Rico                 <=50K      89.473684
                            >50K       10.526316
Scotland                    <=50K      75.000000
                            >50K       25.000000
South                       <=50K      80.000000
                            >50K       20.000000
Taiwan                      <=50K      60.784314
                            >50K       39.215686
Thailand                    <=50K      83.333333
                            >50K       16.666667
Trinadad&Tobago             <=50K      89.473684
                            >50K       10.526316
United-States               <=50K      75.416524
                            >50K       24.583476
Vietnam                     <=50K      92.537313
                            >50K        7.462687
Yugoslavia                  <=50K      62.500000
                            >50K       37.500000
Name: salary, Length: 82, dtype: float64

In [200]:
country3 = value_after_group.reset_index(name='percentage')
country3

                native-country salary  percentage
0                            ?  <=50K   74.957118
1                            ?   >50K   25.042882
2                     Cambodia  <=50K   63.157895
3                     Cambodia   >50K   36.842105
4                       Canada  <=50K   67.768595
5                       Canada   >50K   32.231405
6                        China  <=50K   73.333333
7                        China   >50K   26.666667
8                     Columbia  <=50K   96.610169
9                     Columbia   >50K    3.389831
10                        Cuba  <=50K   73.684211
11                        Cuba   >50K   26.315789
12          Dominican-Republic  <=50K   97.142857
13          Dominican-Republic   >50K    2.857143
14                     Ecuador  <=50K   85.714286
15                     Ecuador   >50K   14.285714
16                 El-Salvador  <=50K   91.509434
17                 El-Salvador   >50K    8.490566
18                     England  <=50K   66.666667
19                     England   >50K   33.333333
20                      France  <=50K   58.620690
21                      France   >50K   41.379310
22                     Germany  <=50K   67.883212
23                     Germany   >50K   32.116788
24                      Greece  <=50K   72.413793
25                      Greece   >50K   27.586207
26                   Guatemala  <=50K   95.312500
27                   Guatemala   >50K    4.687500
28                       Haiti  <=50K   90.909091
29                       Haiti   >50K    9.090909
..                         ...    ...         ...
52                      Mexico   >50K    5.132193
53                   Nicaragua  <=50K   94.117647
54                   Nicaragua   >50K    5.882353
55  Outlying-US(Guam-USVI-etc)  <=50K  100.000000
56                        Peru  <=50K   93.548387
57                        Peru   >50K    6.451613
58                 Philippines  <=50K   69.191919
59                 Philippines   >50K   30.808081
60                      Poland  <=50K   80.000000
61                      Poland   >50K   20.000000
62                    Portugal  <=50K   89.189189
63                    Portugal   >50K   10.810811
64                 Puerto-Rico  <=50K   89.473684
65                 Puerto-Rico   >50K   10.526316
66                    Scotland  <=50K   75.000000
67                    Scotland   >50K   25.000000
68                       South  <=50K   80.000000
69                       South   >50K   20.000000
70                      Taiwan  <=50K   60.784314
71                      Taiwan   >50K   39.215686
72                    Thailand  <=50K   83.333333
73                    Thailand   >50K   16.666667
74             Trinadad&Tobago  <=50K   89.473684
75             Trinadad&Tobago   >50K   10.526316
76               United-States  <=50K   75.416524
77               United-States   >50K   24.583476
78                     Vietnam  <=50K   92.537313
79                     Vietnam   >50K    7.462687
80                  Yugoslavia  <=50K   62.500000
81                  Yugoslavia   >50K   37.500000

[82 rows x 3 columns]

In [201]:
country4 = country3[country3['salary']=='>50K'].sort_values(by=['percentage'], ascending = False)
country4

        native-country salary  percentage
40                Iran   >50K   41.860465
21              France   >50K   41.379310
38               India   >50K   40.000000
71              Taiwan   >50K   39.215686
48               Japan   >50K   38.709677
81          Yugoslavia   >50K   37.500000
3             Cambodia   >50K   36.842105
44               Italy   >50K   34.246575
19             England   >50K   33.333333
5               Canada   >50K   32.231405
23             Germany   >50K   32.116788
59         Philippines   >50K   30.808081
34                Hong   >50K   30.000000
25              Greece   >50K   27.586207
7                China   >50K   26.666667
11                Cuba   >50K   26.315789
1                    ?   >50K   25.042882
67            Scotland   >50K   25.000000
77       United-States   >50K   24.583476
36             Hungary   >50K   23.076923
42             Ireland   >50K   20.833333
69               South   >50K   20.000000
61              Poland   >50K   20.000000
73            Thailand   >50K   16.666667
15             Ecuador   >50K   14.285714
46             Jamaica   >50K   12.345679
50                Laos   >50K   11.111111
63            Portugal   >50K   10.810811
65         Puerto-Rico   >50K   10.526316
75     Trinadad&Tobago   >50K   10.526316
29               Haiti   >50K    9.090909
17         El-Salvador   >50K    8.490566
32            Honduras   >50K    7.692308
79             Vietnam   >50K    7.462687
57                Peru   >50K    6.451613
54           Nicaragua   >50K    5.882353
52              Mexico   >50K    5.132193
27           Guatemala   >50K    4.687500
9             Columbia   >50K    3.389831
13  Dominican-Republic   >50K    2.857143

In [204]:
a = df.loc[(df['salary']=='>50K')&(df['native-country']=='India'),'occupation'].value_counts()

In [205]:
a

Prof-specialty      25
Exec-managerial      8
Tech-support         2
Other-service        2
Transport-moving     1
Sales                1
Adm-clerical         1
Name: occupation, dtype: int64

In [209]:
a.index[0]

'Prof-specialty'

In [ ]:
# https://repl.it/join/jklmkwzi-akhilwase